*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

  
header {
    background-color: #002855;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 180px;
    width: 100%;
    border-bottom: 5px solid #e57e25;

}

.logo img {
    height: 100px;
    margin-left: 50px;
}



.container {
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    height: 100vh;
    gap: 20px;   
}

.contact-info {
    max-width: 50%;
    line-height: 1.8;
    
}

.contact-info p {
    line-height: 1.8;
    text-align: left;
    font-size: 20px;
    font-family: "lato", sans-serif;
}
    
h1 {
    margin: 0;
    font-size: 50px;
    margin-bottom: 20px; 
    text-align: left;
    font-family: "poppins", sans-serif;

}

.contact-image img {
    width: 592px;
    height: 446px;
    object-fit: contain;
    border-radius: 10px;
    margin-left:70px;
}



nav ul {
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
   
}


nav ul li {
    margin-right: 38px;
    margin-top: 63px;
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center; 
}

nav img {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}



.coffee-bean-section {
    text-align: center; 
    margin-bottom: 0; 
}

.coffee-bean-img {
    width: 100%; 
    height: auto; 
    display: block; 
    max-height: 150px; 
    object-fit: cover; 
}


footer {
    background-color: #002B5B;
    padding: 20px;
    text-align: center;
    color: white;
    position: relative;
    margin-top: 0px;
    min-height: 150px;
  }
  
  .footer-content p {
    margin: 0px;
    font-size: 14px;
  }
  
  .social-icons {
    margin-top: 40px;
  }
  
  .social-icons a {
    margin: 0 10px;
    display: inline-block;
  }
  
  .social-icons img {
    width: 24px;
    height: auto;
  }

  @media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px;
    }

    .logo {
        margin-bottom: 20px; 
        margin-right: 55px;
    }

    nav ul {
        justify-content: center; 
        gap: 20px; 
    }

    nav ul li {
        margin: 0; 
        margin-top: 20px;
    }

    .contact-image img{
        height: 350px;
        width: 400px;
        object-fit: contain;
    }
    .contact-info {
        margin-left: 20px;
    }

    .contact-info p {
        font-size: 18px;
        
    }

    .contact-info h1 {
        font-size: 30px;
    }
}
